<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This Spectrum Demo is a collaborative effort brought to you by </a>
  Michael Prigge, Trevor Ransom, Austin Sarna, and Christopher Stutzman.
</p>